* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #1E1E1E;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
    font-family: "Poppins", sans-serif;
}
a, a:active, a:focus{color: #000;}
ul li{list-style: none;}
button{cursor: pointer;}


